*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #a8d7f8, #3d74ff);
    color: white;
}
.card{
    background-color: rgba(255,255,255,0.25);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.search__container{
  display: flex;
  justify-content: space-around;
}
.search-bar{
    border-radius: .8rem;
    border: none;
    outline: none;
    padding: 1rem;
    
    background-color: transparent;
    font-size: 1.1rem;
}
::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }
.button{
    outline: none;
    border: none;
    padding: .7rem;
    border-radius: 1rem;
    font-size: 1rem;
    color: #3f75ff;
    cursor: pointer;
}
.button span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 1rem;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .word__container{
    display: flex;
justify-content: space-between;
   align-items: center;
   padding-top: 5rem;
    padding-left: 1rem;
   padding-right: 2rem;
   font-size: 1.65rem;
   color: rgb(1, 1, 138);
 
  }
  .material-symbols-outlined{
    outline: none;
    border: none;
    padding: 1rem;
    color: rgb(1, 1, 138);
    background-color: transparent;
    cursor: pointer;
  }
  .material-symbols-outlined:hover{
    color: #0e4ff3;
  }
  .details{
    display: flex;
    gap: .7rem;
    color:rgba(255, 255, 255, 0.664);
    font-size: .9rem;
    margin-left: 1rem;
  }
  .definition{
    margin-left: 1rem;
    margin-top: 1rem;
    color: rgb(1, 1, 138);
  }
  .sentence{
    font-style: italic;
    border-left: 4px solid #3d74ff;
    padding-left: 1.3rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }